<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fastify - guess my word game.</title>

  <!-- Bootstrap core CSS -->
  <link href="<%= url %>/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="<%= url %>/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="<%= url %>/vendor/chat-box/chat.css" rel="stylesheet" type="text/css">
  <link href="<%= url %>/vendor/canvas/jquery-drawpad.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <style>
    .CodeMirror { text-align: left!important; }
    #code-wrapper { display: none; }
    .demo-content{ padding: 15px; font-size: 18px; min-height: 150px; background: #dbdfe5; margin-bottom: 10px; }
    .demo-content.bg-alt{ background: #abb1b8; }
    #target { width:auto; height:400px; }
    .profileImage {display: inline-block; width: 50px; height: 50px; font-size: 15px; color: #fff; text-align: center; margin: 10px 10px; }
    .img-circle {border-radius: 50%;}
    .profileImage > p {font-size: 12px;}
  </style>
</head>

<body class="bg-light">
  <section class="text-center pt-4">
    <div class="container">
      <h3>Guess My Word</h3>
      <div class="playgroud">
        <div class="alert alert-danger d-none instructions" role="alert"></div>
        <%- include('partials/login.ejs') %>
        <%- include('partials/lobby.ejs') %>
        <%- include('partials/board.ejs') %>
      </div>
    </div>
  </section>
  <!-- Bootstrap core JavaScript -->
  <script src="<%= url %>/vendor/jquery/jquery.min.js"></script>
  <script src="<%= url %>/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="<%= url %>/vendor/canvas/jquery-drawpad.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="<%= url %>/vendor/chat-box/socket.js"></script>
  <script>
    $(document).ready(function() {
      $("#target").drawpad();
    });
  </script>
</body>
</html>
